/* Font Styling */
@font-face {
    font-family: custom;
    src: url(fonts/bungee_spice_regular.ttf);
}

/* Navigation styling */
nav ul {
    list-style-type: none;
    background-color: #b6b2b2;
    border: 2px solid #b3afaf;
    margin: 0;
    padding: 0;
    /* any content that overflows the ul is hidden */
    overflow: hidden;
    border-radius: 0.5rem;
}

nav li {
    /* since we have three elements, we can allow each to take up 1/3 of the space */
    width: 33.333%;
    /* float will be covered in week 6 */
    /* in this case it simply ensures that the list items are side by side */
    float: left;
}

nav li a {
    padding: 0.5em 1em;
    display: block;
    color: #666;
    text-align: center;
    text-decoration: none;
    font-size: 1.2em;
}

nav li a.active {
    background-color: #e78416;
    color: #ffffff;
}

nav li a:hover {
    background-color: #eab76a;
    color: #ffffff;
}

#menu ul {
    list-style-type: disc;
    padding-left: 40px;
}

dt {
    font-weight: bold;
}

/* Body styling */
body {
    font-family: Quicksand, Barlow, sans-serif;
    background-color: #575d5d;
}

h1, h2, h3 {
    font-family: Quicksand, Barlow, sans-serif;
}

.main_container {
    max-width: 70%;
    margin: auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
}

/* Header, footer styling */
.img_banner {
    width: 100%;
    height: auto;
    border: 1px #cccccc solid;
    border-radius: 10px;
}

header, footer {
    padding: 20px;
    text-align: center;
}

footer {
    color: #ffffff;
}

header > h1 {
    font-family: custom, sans-serif;
    font-size: 5em;
    color: #e78416;
    padding: 20px;
    border-radius: 10px;
    border: 1px #cccccc solid;
}

/* Main content styling*/
figure {
    display: table;
    margin-right: auto;
    margin-left: auto;
    border: 1px #cccccc solid;
    padding: 4px;
    border-radius: 10px;
}

figcaption {
    text-align: center;
    font-style: italic;
}

#prices {
    padding: 20px;
    font-weight: bold;
}

#content {
    padding: 20px;
}

.collapse {
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid black;
    padding: 4px;
    margin: 3px;
}

table thead {
    font-size: 1.2em;
}

table th {
    background-color: #b6b2b2;
}

table tr:nth-child(even) {
    background-color: #b4e8ff;
}

table td:hover, table th:hover {
    background-color: #e78416;
}