@charset "utf-8";
/* CSS Document */
/* default styles for document */
/* you do not need to understand all of this */
/* this is simply an example of how to use CSS and limited by the html from the hostel page */
/* usually, we would use more classes and ids to make the css more specific */

body {
	width: 90%;
	max-width: 1024px;
	margin: 2em auto;
	background: #eee;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 0.8em;
}


h1,
h2,
h3 {
	color: #030;
}

h1 {
	font-size: 1.5em;
	text-align: center;
}

h2 {
	font-size: 1.2em;
}

h3 {
	font-size: 1em;
}


header {
	display: inline-block;
	width: 100%;
	position: sticky;
	top: 0;
	background: #fff;
	padding: 1%;
	text-align: center;
	border-radius: 5px;
	box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
}

header img {
	display: inline-block;
	width: 100%;
}


footer {
	display: inline-block;
	margin-top: 1em;
	width: 100%;
	background: #fff;
	padding: 1%;
	text-align: center;
	border-radius: 5px;
	box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
}

main {
	display: inline-block;
	width: 100%;
	background: #fff;
	padding: 1%;
	margin-top: 1em;
	text-align: center;
	border-radius: 5px;
	box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
}

figure {
	display: inline-block;
	width: fit-content;
	text-align: center;
	border-radius: 5px;

	box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);

}

figure:hover {
	box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
	background-color: #ccc;
}

figcaption {
	text-align: center;
	font-weight: bolder;
}

figure img {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

nav {
	display: inline-block;
	width: 100%;
	text-align: center;
	height: fit-content;
}

nav li {
	display: inline-block;
	list-style: none;
	padding: 1%;
	margin: 1%;
	background: #fff;
	border: 1px solid #000;
	border-radius: 5px;
	font-size: 1em;
	width: 20%;
	box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
}

nav li:hover {
	background: #ccc;
}

nav li a {
	text-decoration: none;
	color: #000;
}

section>ul {
	display: inline-block;
	text-align: left;
}

/* https://www.the-art-of-web.com/css/format-dl/ */
dl {
	display: flex;
	flex-flow: row wrap;
	border: solid #333;
	border-width: 1px 1px 0 0;
}

dt {
	flex-basis: 20%;
	padding: 2px 4px;
	background: #333;
	text-align: right;
	color: #fff;
}

dd {
	flex-basis: 70%;
	flex-grow: 1;
	margin: 0;
	padding: 2px 4px;
	border-bottom: 1px solid #333;
}