#result_section {
    display: none;
}


.card {
    background: white;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 10px 30px;
    border: 0 none;
    box-sizing: border-box;
    width: 50%;
    margin: 1em 25% 0 25%;
}

#postcode {
    width: 100%;
    padding: 10px;
    border: 1px solid blue;
    border-radius: 3px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;

}

h3 {
    text-align: center;
    text-transform: uppercase;
    color: #2C3E50;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

input[type=submit] {
    width: 100%;
    margin-bottom: 6px;
    border-radius: 3px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    background-color: #200fdb;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
}

input[type=submit]:hover {
    background-color: #2116a0;
    color: white;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.3);
}
