/* Navigation styling */
nav ul {
    list-style-type: none;
    background-color: #b6b2b2;
    border: 2px solid #b3afaf;
    margin: 0;
    padding: 0;
    /* any content that overflows the ul is hidden */
    overflow: hidden;
}

nav li {
    /* since we have three elements, we can allow each to take up 1/3 of the space */
    width: 33.333%;
    /* float will be covered in week 6 */
    /* in this case it simply ensures that the list items are side by side */
    float: left;
}

nav li a {
    padding: 0.5em 1em;
    display: block;
    color: #666;
    text-align: center;
    text-decoration: none;
    font-size: 1.2em;

}

nav li a.active {
    background-color: #e78416;
    color: #ffffff;
}

nav li a:hover {
    background-color: #eab76a;
    color: #ffffff;
}

#menu ul {
    list-style-type: disc;
    padding-left: 40px;
}

dt {
    font-weight: bold;
}

/* Body styling */
body {
    font-family: Quicksand, Barlow, sans-serif;
    background-color: #8bd1ff;
}

h1, h2, h3 {
    font-family: Quicksand, Barlow, sans-serif;
}

.main_container {
    max-width: 75%;
    margin: auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 0.5rem;
}

/* Header, footer styling */
.img_banner {
    width: 100%;
    height: auto;
    border: 1px #cccccc solid;
}

header, footer {
    padding: 20px;
    text-align: center;
}

header > h1 {
    font-size: 3em;
    background-color: #dff6fd;
    border-radius: 0.5rem;
    padding: 20px;
    margin-bottom: 5px;
}

/* Main content styling*/
figure {
    display: table;
    margin-right: auto;
    margin-left: auto;
    border: 1px #cccccc solid;
    padding: 4px;
}

figcaption {
    text-align: center;
}

#prices {
    padding: 20px;
    font-weight: bold;
}

#content {
    padding: 20px;
}