/* Navigation styling */
nav ul {
    list-style-type: none;
    background-color: #b6b2b2;
    border: 2px solid #b3afaf;
    margin: 0;
    padding: 0;
    /* any content that overflows the ul is hidden */
    overflow: hidden;
}

nav li {
    /* since we have three elements, we can allow each to take up 1/3 of the space */
    width: 33.333%;
    /* float will be covered in week 6 */
    /* in this case it simply ensures that the list items are side by side */
    float: left;
}

nav li a {
    padding: 0.5em 1em;
    display: block;
    color: #666;
    text-align: center;
    text-decoration: none;
    font-size: 1.2em;

}

nav li a.active {
    background-color: #183d20;
    color: white;
}

nav li a:hover {
    background-color: #0e812b;
    color: white;
}

/* Body styling */
body {
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3 {
    font-family: Rockwell, Courier Bold, Courier, Georgia, Times, Times New Roman, serif;
}

/* Header styling */
.img_banner {
    width: 100%;
    height: auto;
}

/* Main content styling*/
figure {
    display: table;
    margin-right: auto;
    margin-left: auto;
}

figcaption {
    text-align: center;
}